.folder
  &__header
    padding: 15px 0
    font-weight: 700
    font-family: 'Montserrat', sans-serif

    .material-icons
      margin-left: 10px

    &-enter
      opacity: 0

      &-active
        opacity: 1
        transition: all 300ms ease

    &-exit
      opacity: 1

      &-active
        opacity: 0
        transition: all 300ms ease

  hr
    border: none
    border-top: 1px solid #f2f2f2

  .material-icons
    color: #dfdfdf
    cursor: pointer
    transition: all 100ms ease

    &:hover
      color: darken(#dfdfdf, 10%)

  &__todos
    width: 50%
    padding: 25px 0

  &__todo
    display: flex
    align-items: center
    position: relative
    font-weight: 500
    cursor: pointer

    & > .material-icons
      display: flex
      justify-content: center
      width: 28px

  &__todo-text
    margin-left: 15px
    user-select: none

  &__todo + &__todo
    margin-top: 15px

  &__todo-buttons
    position: absolute
    top: 50%
    right: 20px
    transform: translateY(-50%)

    &-enter
      opacity: 0

      &-active
        opacity: 1
        transition: all 300ms ease

    &-exit
      opacity: 1

      &-active
        opacity: 0
        transition: all 300ms ease
